In [6]:
list <- read.csv('./rggagi/example_studentlist.csv')
list

   name   sex  age grade absence bloodtype height weight
1  김길동 남자 23  3     유      O         165.3  68.2
2  이미린 여자 22  2     무      AB        170.1  53.0
3  홍길동 남자 24  4     무      B         175.0  80.1
4  김철수 남자 23  3     무      AB        182.1  85.7
5  손세수 여자 20  1     유      A         168.0  49.5
6  박미희 여자 21  2     무      O         162.0  52.0
7  강수친 여자 22  1     무      O         155.2  45.3
8  이희수 여자 23  1     무      A         176.9  55.0
9  이철린 남자 23  3     무      B         178.5  64.2
10 방희철 남자 22  2     무      B         176.1  61.3
11 박수호 남자 24  4     유      O         167.1  62.0
12 임동민 남자 22  2     무      AB        180.0  75.8
13 김민수 남자 21  1     무      A         162.2  55.3
14 이희진 여자 23  3     무      O         176.1  53.1
15 김미진 여자 22  2     무      B         158.2  45.2
16 김동수 남자 24  4     유      B         168.6  70.2
17 여수근 남자 21  1     무      A         169.2  62.2

In [7]:
list <- read.csv('./rggagi/example_studentlist.csv', header=F)
list

   V1     V2   V3  V4    V5      V6        V7     V8
1  name   sex  age grade absence bloodtype height weight
2  김길동 남자 23  3     유      O         165.3  68.2
3  이미린 여자 22  2     무      AB        170.1  53
4  홍길동 남자 24  4     무      B         175    80.1
5  김철수 남자 23  3     무      AB        182.1  85.7
6  손세수 여자 20  1     유      A         168    49.5
7  박미희 여자 21  2     무      O         162    52
8  강수친 여자 22  1     무      O         155.2  45.3
9  이희수 여자 23  1     무      A         176.9  55
10 이철린 남자 23  3     무      B         178.5  64.2
11 방희철 남자 22  2     무      B         176.1  61.3
12 박수호 남자 24  4     유      O         167.1  62
13 임동민 남자 22  2     무      AB        180    75.8
14 김민수 남자 21  1     무      A         162.2  55.3
15 이희진 여자 23  3     무      O         176.1  53.1
16 김미진 여자 22  2     무      B         158.2  45.2
17 김동수 남자 24  4     유      B         168.6  70.2
18 여수근 남자 21  1     무      A         169.2  62.2

In [ ]:
list <- read.csv('./rggagi/example_studentlist.csv')
list

In [10]:
# read.table() - 구분자 Tab이 기본, header=F 가 기본
List <- read.table('./rggagi/studentlist.txt', header =T)
List

   이름   성별 나이 학년 휴학여부 혈액형 키
1  김길동 남자 23   3    유       O      165.3
2  이미린 여자 22   2    무       AB     170.1
3  홍길동 남자 24   4    무       B      175.0
4  김철수 남자 23   3    무       AB     182.1
5  손세수 여자 20   1    유       A      168.0
6  박미희 여자 21   2    무       O      162.0
7  강수친 여자 22   1    무       O      155.2
8  이희수 여자 23   1    무       A      176.9
9  이철린 남자 23   3    무       B      178.5
10 방희철 남자 22   2    무       B      176.1
11 박수호 남자 24   4    유       O      167.1
12 임동민 남자 22   2    무       AB     180.0
13 김민수 남자 21   1    무       A      162.2
14 이희진 여자 23   3    무       O      176.1
15 김미진 여자 22   2    무       B      158.2
16 김동수 남자 24   4    유       B      168.6
17 여수근 남자 21   1    무       A      169.2

In [12]:
List <- read.table('./rggagi/studentlist2.txt', header = T, sep = ';')
List

   이름   성별 나이 학년 휴학여부 혈액형 키
1  김길동 남자 23   3    유       O      165.3
2  이미린 여자 22   2    무       AB     170.1
3  홍길동 남자 24   4    무       B      175.0
4  김철수 남자 23   3    무       AB     182.1
5  손세수 여자 20   1    유       A      168.0
6  박미희 여자 21   2    무       O      162.0
7  강수친 여자 22   1    무       O      155.2
8  이희수 여자 23   1    무       A      176.9
9  이철린 남자 23   3    무       B      178.5
10 방희철 남자 22   2    무       B      176.1
11 박수호 남자 24   4    유       O      167.1
12 임동민 남자 22   2    무       AB     180.0
13 김민수 남자 21   1    무       A      162.2
14 이희진 여자 23   3    무       O      176.1
15 김미진 여자 22   2    무       B      158.2
16 김동수 남자 24   4    유       B      168.6
17 여수근 남자 21   1    무       A      169.2

In [13]:
install.packages('readxl')

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\NOTEBOOK\AppData\Local\Temp\Rtmp8orkOM\downloaded_packages

In [14]:
library('readxl')

In [17]:
df <- read_excel(path = './rggagi/studentlist.xlsx', sheet = 'Sheet1', col_names = TRUE)
df

   name   sex  age grade absence bloodtype height weight
1  김길동 남자 23  3     유      O         165.3  68.2
2  이미린 여자 22  2     무      AB        170.1  53.0
3  홍길동 남자 24  4     무      B         175.0  80.1
4  김철수 남자 23  3     무      AB        182.1  85.7
5  손세수 여자 20  1     유      A         168.0  49.5
6  박미희 여자 21  2     무      O         162.0  52.0
7  강수친 여자 22  1     무      O         155.2  45.3
8  이희수 여자 23  1     무      A         176.9  55.0
9  이철린 남자 23  3     무      B         178.5  64.2
10 방희철 남자 22  2     무      B         176.1  61.3
11 박수호 남자 24  4     유      O         167.1  62.0
12 임동민 남자 22  2     무      AB        180.0  75.8
13 김민수 남자 21  1     무      A         162.2  55.3
14 이희진 여자 23  3     무      O         176.1  53.1
15 김미진 여자 22  2     무      B         158.2  45.2
16 김동수 남자 24  4     유      B         168.6  70.2
17 여수근 남자 21  1     무      A         169.2  62.2

In [18]:
install.packages('foreign')

package 'foreign' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\NOTEBOOK\AppData\Local\Temp\Rtmp8orkOM\downloaded_packages

In [19]:
library('foreign')

In [20]:
Score <- read.spss('./rggagi/score.sav')
Score

$ID
[1] 1 2 3

$Score
[1]  80  90 100

attr(,"label.table")
attr(,"label.table")$ID
NULL

attr(,"label.table")$Score
NULL

attr(,"codepage")
[1] 51949

In [21]:
install.packages('XML')

package 'XML' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\NOTEBOOK\AppData\Local\Temp\Rtmp8orkOM\downloaded_packages

In [22]:
library('XML')

In [23]:
DocFromXML <- xmlTreeParse('./rggagi/score.xml')
DocFromXML

$doc
$file
[1] "./rggagi/score.xml"

$version
[1] "1.0"

$children
$children$mathscore
<mathscore>
 <student>
  <name>Peter</name>
  <score>100</score>
 </student>
 <student>
  <name>Abel</name>
  <score>90</score>
 </student>
 <student>
  <name>Elin</name>
  <score>80</score>
 </student>
</mathscore>


attr(,"class")
[1] "XMLDocumentContent"

$dtd
$external
NULL

$internal
NULL

attr(,"class")
[1] "DTDList"

attr(,"class")
[1] "XMLDocument"         "XMLAbstractDocument"

In [24]:
DocFromXML <- xmlTreeParse('./rggagi/score.xml', useInternalNodes = T)
DocFromXML

<?xml version="1.0"?>
<mathscore>
  <student>
    <name>Peter</name>
    <score>100</score>
  </student>
  <student>
    <name>Abel</name>
    <score>90</score>
  </student>
  <student>
    <name>Elin</name>
    <score>80</score>
  </student>
</mathscore>

In [25]:
RootNode <- xmlRoot(DocFromXML)
RootNode

<mathscore>
  <student>
    <name>Peter</name>
    <score>100</score>
  </student>
  <student>
    <name>Abel</name>
    <score>90</score>
  </student>
  <student>
    <name>Elin</name>
    <score>80</score>
  </student>
</mathscore>

In [26]:
Names <- xpathSApply(RootNode, '//name', xmlValue)
Names

[1] "Peter" "Abel"  "Elin"

In [27]:
Scores <- xpathSApply(RootNode, '//score', xmlValue)
Scores

[1] "100" "90"  "80"

In [28]:
NameScore = data.frame(NAME=Names, SCORE=Scores)
NameScore

  NAME  SCORE
1 Peter 100
2 Abel  90
3 Elin  80

In [29]:
List <- read.delim("clipboard", header = F)
List

  V1
1 List <- read.delim(clipboard, header = F)
2 List